<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>{% block fulltitle %}{% block title %}Page Title{% endblock %} &ndash; {{ myNickname | escape }} &ndash; Chatbox{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="/static/common.js" type="text/javascript"></script>
    {% block addhead %}
    {% endblock %}
  </head>
  <body>
  {% block body %}
  {% endblock %}
  </body>
</html>
